@media screen and (max-width:1115px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
  .hero-txt h1,.heading, .paragraph{
    width: 100%;
  }
  .medals{
    width: 40%;
  }
 
  .intro-section{
    margin: 0;
  }
}

@media screen and (max-width:970px) {
 
.rules-container{
  flex-direction: column;
text-align: center;


  }
  .rules-container h2{
    text-align: center;
    width: 100%;
    padding-top: 3rem;
  }
  .container {
    width: 100%;
    padding: 1rem;
  }
  .mirrow-container{
   padding: 1rem;
  }
  .mirrow-container img{
    width: 90%;
  }
  .question-container{
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .container {
    width: 100%;
    padding: 1rem;
  }

  .hero {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .hero-txt h1{
    width: 100%;
  }
 .hero-text1{
  width: 100%;
  padding: 0.9rem 0;
 }
 .image1{
  width: 100%;
  margin-bottom:-6%;
 }
  .nav-link , .hero-text-right{
    display: none;
  }
  .hero-mob{
    display: block;
    text-align: center;
    padding: 2rem 0;
      
  }
   .hero-mob h2{
    font-size: 0.9rem;
    text-align: center;
  
  }
  .image2{
  position: absolute;
  right: 10%;
  width: 25%;
}
  .timer{
    justify-content: center;
    padding-bottom: 3rem;
  }
  
  .nav-bar {
    padding: 2rem 1rem;
  }
  .nav {
    background: #150e28;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: block;
    padding: 2rem;
    z-index: 2;
    transition: ease .3s;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 0 1rem 0;
  }

  .nav ul li a {
    padding: 1rem 0;
    line-height: 1.5;
    display: block;
  }

  .toggle-btn {
    display: block;
    cursor: pointer;
  }
  .toggle-btn-mob {
    border: 1px solid #fe34b9;
    text-align: right;
    font-size: 2rem;
    right: 5%;
    position: absolute;
    top: 5%;
    padding: 0.3rem;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
  }
  /* intro section */
  .intro-section{
    flex-direction: column;
  margin-top: 12rem;
  }
  .intro-img, .rules-img{
    width: 100%;
  }

  .arrow{
    position: absolute;
    top: 41%;
    left: 40%;
    width: 15%;
  }
  .star{
    position: absolute;
    top: 52%;
    right: 1%;
    width: 5%;
  }
  .star1{
    position: absolute;
    top: 10%;
    left: 2%;
    width: 5%;
  }
  .heading{
    font-size: 1.6rem;
    padding-bottom: 0.7rem;
  }
  .paragraph, .heading{
    width: 100%;
    text-align: center;
  }
  .paragraph{
    font-size: 0.9rem;
  }
  .rules-container{
    flex-direction: column-reverse;
    padding: 1rem;
    
  }
  .rules-container, .key-container, .question-container h2, .faq-img{
    width: 100%;

  }
  
.tl{
  flex-direction:column ;
  gap: 1rem;
 max-width: 100%;
 margin: 0;
 margin-bottom: 3rem;
}
#tl2,
#tl4,
#tl6 {
  flex-direction:column ;
  align-items: center;
  justify-content: center;
}
#tl1  .dates, #tl3 .dates, #tl5 .dates,
#tl2 .dates,
#tl4 .dates,
#tl6 .dates{
  text-align: left;
  padding-left: 2rem;
}

#tl2 .dets h4,
#tl4 .dets h4,
#tl6 .dets h4 {
    text-align: left;
    max-width: 100%;
    padding-left: 2rem;
}
.tl .dets p{
  text-align: left;
  font-size: 0.78rem;
  padding-left: 2rem;
}
.timeline-container .description{
  margin-bottom: 1rem;
  width: 100%;
}
.tl .dets h4,
.tl .dates{
  font-size: 0.9rem;
  padding-left: 2rem;
}
.tl .indicator{
  left: 2%;
  bottom: 0;

}
.tl .dets h4 {
  text-align: left;
  max-width: 100%;

}

.timeline-container .star11 {
  top: 15%;
  left: 5%;
  width: 4%;
}



  .key-container{
flex-direction: column;
gap: 1rem;
padding: 5rem 1rem;
justify-content: center;
}
.key-txt{
  text-align: center;
  font-size: 0.9rem;
}
.key-btn{
  margin: 1rem auto 0 auto;
  display: grid;
  align-items: center;
}
.question-container{
grid-template-columns: repeat(1,1fr);
}
.question-container p{
  padding-bottom: 2rem;
  width: 100%;
}
.question-container h2{
  padding-top: 2rem;
}

.faq-flex h3, .para2, .sponsor-txt p, .privacy-mirrow li, .privacy-mirrow p{
  font-size: 0.9rem;
}
.reward-container,.privacy-container{
flex-direction: column;
gap: 3rem;
padding-bottom: 3rem;
}
.para3{
  padding:  0.6rem 1rem ;
  font-size: 0.9rem;
}

.reward-txt, .privacy-txt , .privacy-txt h2{
 padding-left: 0;
 padding-top: 3rem;
 width: 100%;
}
.sponsor-txt p, .cup, .medals, .key-container h2,.mirrow-container img{
 
  width: 100%;
}
.mirrow-container{
  margin: 3rem 0;
}
.mirrow-container, .privacy-mirrow, .sponsor-txt{
padding: 1rem;
}

.footer-flex,.footer-last{
  grid-template-columns: repeat(1,1fr);
  gap: 0.6rem;
}
.footer-para{
  font-size: 0.9rem;
  text-align: left;
  padding-bottom: 1rem;
}
.footer-link h5{
  font-size: 0.9rem;
  padding-bottom: 0.6rem;
}
.footer-link li, .last-txt, .footer-last{
  font-size: 0.9rem;
}

.link{
  flex-direction: column;
  gap: 0.7rem;
}
.footer-star{
  position: absolute;
  left: 2%;
  top: 30%;
  width: 4%;
}
.footer-star1{
  position: absolute;
  right: 20%;
  top: 50%;
  width: 4%;
}
.footer-star2{
  position: absolute;
  right: 20%;
  top: 60%;
  width: 4%;
}
.footer-star3{
  position: absolute;
  right: 5%;
  bottom: 4%;
  width: 4%;
}
/* background stylings */
  header {
  background: url('../assets/Purple-Lens-Flare-PNG-mob.png'), url('../assets/mob-white-star.png'), #140d27;
   background-repeat: no-repeat;
  background-position: top 0vh left 0vw, top 25vh left 30vw;
  }
.holding-third{
  background:
 url('../assets/star-pur-mob.png'),url('../assets/mob-white-star.png'), url('../assets/star-pur-mob.png'),   #140d27; 
 background-repeat: no-repeat;
background-position:  top 3vh left 8vw,  bottom 4vh right 20vw, top 100vh right 25vw   ;
}

 .holder-last{background:  url('../assets/Purple-Lens-Flare-PNG-mob.png'),
  url('../assets/Purple-Lens-Flare-PNG-side-mob.png'),url('../assets/smallstar.png'), url('../assets/star-pur-mob.png'),  url('../assets/star-pur-mob.png'),  url('../assets/mob-white-star.png'), url('../assets/mob-white-star.png'), url('../assets/mob-white-star.png'), #140d27; 
  background-repeat: no-repeat;
 background-position:  top 85vh left -2vw ,top -20vh right -14vw , top 8vh right 10vw,top 45vh right 10vw,bottom 50vh left 5vw, bottom 60vh right 35vw, bottom 25vh right 9vw ,bottom 15vh left 15vw ;
}
.holder{

  background: url('../assets/Purple-Lens-Flare-PNG-mob.png'), url('../assets/mob-white-star.png'), url('../assets//Purple-Lens-Flare-PNG-side-mob.png'), url('../assets/mob-white-star.png'),  url('../assets/mob-white-star.png'), #140d27;
  background-repeat: no-repeat;
  background-position: top -10vh left 0vw, top 10vh left 3vw ,right -2vw top 10vh, left 10vw bottom 5vh, right 3vw top 30vh;
   }

   .holding-second{

    background: url('../assets/Purple-Lens-Flare-PNG-mob.png'), url('../assets/star-pur-mob.png'), url('../assets//Purple-Lens-Flare-PNG-side-mob.png'), url('../assets/star-ash-mob.png'),  url('../assets/mob-white-star.png'), #140d27;
    background-repeat: no-repeat;
    background-position: top 10vh left 0vw, top 7vh left 48vw ,right -2vw bottom  3vh, left 48vw top 30vh, right 5vw bottom 14vh;
     }

.reward{
  background:  url('../assets/Purple-Lens-Flare-PNG-mob.png'),url('../assets/Purple-Lens-Flare-PNG-side-mob.png'),
  url('../assets/star-ash-mob.png'),url('../assets/mob-white-star.png'), url('../assets/mob-white-star.png'),  url('../assets/whitestar.png'), url('../assets/mob-white-star.png'), url('../assets/smallstar.png'),#140d27; 
  background-repeat: no-repeat;
 background-position:  top 10vh left -8vw ,top 60vh right -4vw,  top 10vh left 5vw , top 10vh right 6vw,top 40vh left 50vw,bottom 25vh left 36vw, top 65vh left 7vw, bottom 4vh right 2vw;
}
.sponsor{
  background:  url('../assets/Purple-Lens-Flare-PNG-mirrow.png'),url('../assets/Purple-Lens-Flare-PNG-mirrow-side.png'), #140d27; 
  background-repeat: no-repeat;
 background-position:  top -20vh left -10vw ,bottom -20vh right -10vw;
}

/*  background styling stop*/
}