@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Unica+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --border-box-button:4px;
  --font-family-para: 'Montserrat', sans-serif;
 --font-family-heading: 'Clash Display', sans-serif;
 --font-family-timer: 'Unica One', 'cursive';
--font-weight-para:400;
  --clr-body-bg:#140d27;
 --clr-white:#FFF;
 --clr-Light-purple:#d434fe;
 --clr-pink:#FF26B9;
  --clr-Line-bg:rgba(255, 255, 255, 0.18);
  --clr-gradeint: linear-gradient(270deg, #903aff 0%, #fe34b9 100%)
}
body{
  background-color: var(--clr-body-bg);
}
/* utility */
.container{
  width: 90%;
  margin: auto;
}
.span{
  color: var(--clr-Light-purple);
}
/* header styling */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 3rem 0 2rem 0;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.mob-nav,.toggle-btn{
  display: none;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
}
.nav-bar li a {
  color:var(--clr-white);
  text-decoration: none;
  font-family: var(--font-family-para);
  font-weight: var(--font-weight-para);
}
.logo span {
  color:var(--clr-Light-purple);
}
.logo {
  color:var(--clr-white);
  font-family: var(--font-family-heading);
  list-style: none;
}
.line {
  width: 100%;
  height: 1px;
  background-color:var(--clr-Line-bg);
}
.nav-bar a{
text-decoration: none;
}
.nav-bar li a:hover{
  background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-btn {
  background: var(--clr-gradeint);
  border: 0;
  text-decoration: none;
  width: 150px;
  height: 45px;
  border-radius: var(--border-box-button);
  color:var(--clr-white);
  cursor: pointer;
  font-family: var(--font-family-para);
  font-weight: var(--font-weight-para);
}
.nav-btn a{
  color: var(--clr-white);
}

.nav-btn:hover{
  background:transparent;
border: 2px solid var(--clr-Light-purple) ;
}
header {
  height: 100vh;
  width: 100%;
  background:url('./assets/star.svg'), url("./assets/Purple-Lens-Flare-PNG.png"), url('./assets/chain-9365116-7621444.png'), url('./assets//fire.png'),url('./assets/Creative.png'), url('./assets//star.png'), url('./assets//star.png') #140d27;
 background-repeat: no-repeat;
  background-blend-mode: hard-light;
background-position:  top 20vh left 8vw ,top -30vh left -8vw, left 38vw top 40vh, left 44vw top 43vh,left 35vw top 23vh, bottom 10vh left 35vw, top 30vh left 55vw;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.hero-txt h1 {
  font-size: 4rem;
  color: var(--clr-white);
  font-family:var(--font-family-heading) ;
  width: 90%;

}
.hero-mob{
  display: none;
}

.text-one{
  position: relative;
}
.hero-text1{
  padding: 2rem 0;
  font-size: 1.2rem;
  color: var(--clr-white);
  font-family: var(--font-family-para);
  width: 83%;
}
.hero-image-container {
  width: 100%;

  position: relative;
}
.image1 {
  width: 90%;
  margin-bottom: -0.3rem;
  object-fit: contain;

}
.image3{
  position: absolute;
  top: 5%;
  width: 80%;
  right: 25%;
}
.timer{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.timer p{
  font-family: var(--font-family-timer);
  font-size: 2rem; 
  color: var(--clr-white);

}
.timer p span{
  font-size: 0.8rem;
}
.hero-right{

position: relative;

}

.hero-text-right h2{
  font-family: var(--font-family-para);
  font-weight:700;
  font-style: italic;
  color: var(--clr-white);
  font-size: 1.6rem;
  text-align: right;
}
.image2{
  position: absolute;
  right: 3%;
  width: 25%;
}
/* intro-section styling */

.intro-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
  margin-bottom: 3rem;
  margin-top: 4rem;
position: relative;
}

.arrow{
  position: absolute;
  bottom: 1%;
  left: 36%;
}
.star{
  position: absolute;
  top: 28%;
  right: 7%;
}
.star1{
  position: absolute;
  top: 40%;
  left: 2%;
}
.heading {
font-family: var(--font-family-heading);
color: var(--clr-white);
font-size: 2rem;
width: 60%;
}


.paragraph{
 color: var(--clr-white); 
 font-weight: 400;
 font-family: var(--font-family-para);
 width: 90%;
 line-height: 1.7;
}

/*  Rules styling*/

.rules-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.rules-container h2{
  width: 50%;
}
.holder{
  background: url("./assets/Purple-Lens-Flare-PNG.png"), url('./assets/Purple-Lens-Flare-2.png'),
  url('./assets/sata gra.png'),url('./assets/whitestar.png'),  #140d27; 
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
 background-position:  top -1vh left -8vw ,top 20vh right -4vw,  top 30vh left 25vw , bottom 20vh right 60vw;
}
/* key styling */

.holding-second{
  background: url("./assets/Purple-Lens-Flare-PNG.png"), url('./assets/Purple-Lens-Flare-2.png'),
  url('./assets/sata gra.png'),url('./assets/whitestar.png'),  #140d27; 
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
 background-position:  top -1vh left -8vw ,bottom -60vh right -4vw,  top 10vh left 15vw , bottom 10vh right 60vw; 
}
.key-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 ;
  gap: 8rem;
 
}
.key-container h2{
  width: 60%;
  padding-bottom: 2rem;
}
.key-img-container img{
  width: 100%;
}
.key-img-container{
  width: 100%;
} 
.key-txt{
  font-family: var(--font-family-para);
  line-height: 1.7;
  color: var(--clr-white);
  font-size: 0.9rem;
  padding-bottom: 1rem;
}
.key-txt span{
  color: var(--clr-pink);
}
/* faq-styling */
.holding-third{
   background: url('./assets/Purple-Lens-Flare-2.png'),
  url('./assets/sata gra.png'),url('./assets/whitestar.png'), url('./assets/sata gra.png'), url('./assets//star pu.png')  #140d27; 
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
 background-position: top -40vh right -4vw, top 30vh left 50vw,  bottom 10vh right 20vw , bottom 40vh left 50vw, top 5vh left 4vw   ;
}

.question-container{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 5rem  0;
  gap: 3rem;
}
.question-container h2{
  padding-bottom: 2rem;
}
.question-container p{
  padding-bottom: 2rem;
  width: 70%;
}
.faq-img{
  width: 100%;
}
.faq-img img{
  width: 80%;
}
.faq-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 1rem;

}
.faq-flex h3{
  color: var(--clr-white);
  font-family: var(--font-family-para);
  font-weight: 400;
}

.span2{
  color: var(--clr-Light-purple);
  cursor: pointer;
}

.line2{
  width: 100%;
  height: 1px;
  background-color: var(--clr-Light-purple);
}
.para2{
  color: var(--clr-white);
  font-family: var(--font-family-para);
  font-weight: 400;
  padding: 0.6rem;
}

/* Timeline styling */

.timeline-txt{
  padding: 3rem 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 
}
.timeline-txt p{
  width: 36%;
}
.timeline-container {
  text-align: center;
  padding-bottom: 4rem;
}

/* .timeline{
  display: flex;
  align-items: center;
   justify-content: space-between; 
}

.timeline>span {
  width: 40px;
  aspect-ratio: 1/1;
  align-self: flex-start;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timeline>.num::before {
  content: "";
  width: 3px;
  display: inline-block;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
position: absolute;
  top: 100%;
  left: 19px;

}
 */
 

 




 /* .timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
} */

.li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
 
}

.circle {
  position: relative;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: #fff;

  font-weight: bold;
 
}

.circle h2{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
margin: 0;
}
.vert{
  width: 2px;
  height: 40px;
  margin: 10px auto 10px auto;
  background: #2ecc71;
}
.text { 
   flex: 1;
  z-index: 1;
  display: flex; /* Add display: flex */
  flex-direction: column; /* Stack text elements vertically */
  align-items: center; /* Center text horizontally */
  text-align: center; /* Center text within each element */
}


/* Additional styling (optional) */
.li h2 {
  font-size: 1.5rem;
  margin: 0;
}

.li p {
  font-size: 1rem;
}






/* .info-timeline ul li span.timeline-circle {
  position: relative;
  border: 2px solid #999;
  border-radius: 100%;
  width: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
  z-index: 2;
  display: inline-block;
}

.info-timeline ul li:not(:first-of-type) span.timeline-circle::before {
  position: absolute;
  border: 1px solid #999;
  width: 0;
  height: 50px;
  display: block;
  content: '';
  left: 50%;
  z-index: 1;
  top: -54px;
  margin-left: -1px;
}

.info-timeline ul li a {
  color: #000;
}
.li{
  display: flex ;
  align-items: center;
  justify-content: center;
} */

/* rewards styling */
.reward{
  background:  url('./assets/Purple-Lens-Flare-PNR.png'),url('./assets/Purple-Lens-Flare-2.png'),
  url('./assets/sata gra.png'),url('./assets/whitestar.png'), url('./assets/whitestar.png'),  url('./assets/whitestar.png'), url('./assets//star.png'), url('./assets//smallstar.png')#140d27; 
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
 background-position:  bottom -20vh left -8vw ,top 20vh right -4vw,  top 10vh left 25vw , top 40vh right 6vw,top 40vh left 50vw,bottom 25vh left 36vw, bottom 15vh right 18vw, bottom 15vh left 18vw;
}
.reward-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 8rem 0;
}
.reward-txt {
 padding-left: 40rem;
 padding-top: 3rem;
 width: 76%;
}
.cup{
  width: 50%;
}
.medals{
  width: 85%;
}
/* sponsors styling */
.sponsor-txt{
  text-align: center;
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sponsor-txt p{
  width: 45%;
}
.sponsor-container{
  text-align: center;
  padding: 3rem 0;

}
.sponsor{
  background:  url('./assets/Purple-Lens-Flare-PNR.png'),url('./assets/Purple-Lens-Flare-2.png'),
  url('./assets/sata gra.png') ,url('./assets/sata gra.png'),  url('./assets/whitestar.png'), #140d27; 
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
 background-position:  top -20vh left -25vw ,top 20vh right -4vw,  top 20vh left 25vw ,top 44vh left 56vw,bottom 14vh left 56vw;
}
.mirrow-container{
  border-radius: 5px;
border: 1px solid #D434FE;
background: rgba(255, 255, 255, 0.01);
padding: 6rem;
}
.set-image{
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;


}
.set-image2{
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  
}
.company-logo{
 
  height: 70px;
  width: 22%;
  object-fit: contain;
}

/* .line-img{margin-left: 2rem;} */
/* .line-img2{margin-right: 2rem;} */
.horizontal{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
 
  gap: 2rem;
}
.line-3{
 height: 4px; ; 
 width: 30%;
 background: var(--clr-Light-purple);
 margin: 2rem 0;
}
.line-4{
 height: 4px; ; 
 width: 35%;
 background: var(--clr-Light-purple);
 margin: 2rem 0;
}
/* privacy styling */

.holder-last{
  background:  url('./assets/Purple-Lens-Flare-PNR.png'),
  url('./assets/star.png'),url('./assets/smallstar.png'), url('./assets/star-pu.png'),  url('./assets/smallstar.png'),  url('./assets//star.png'), url('./assets/sata gra.png'), url('./assets/p')#140d27; 
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
 background-position:  bottom -50vh left -20vw ,top 20vh left 28vw , top 40vh right 20vw,top 40vh left 50vw,bottom 29vh left 56vw, bottom 25vh right 9vw, bottom 35vh left 2vw;
}
.privacy-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  gap: 5rem;
}
.privacy-txt{
  width: 90%;
}
.privacy-txt h2{
  width: 60%;
}

.privacy-txt p{
  color: var(--clr-white);
  font-family: var(--font-family-para);
}
.para3{
  padding: 1rem 0;
}
.privacy-mirrow{
  border-radius: 5px;
border: 1px solid #D434FE;
background: rgba(217, 217, 217, 0.03);
padding: 2rem ;
font-family: var(--font-family-para);
margin-top: 2rem;
color: var(--clr-white);
}
.privacy-mirrow h3{
  color: var(--clr-Light-purple);
padding: 1rem 0;

}
.privacy-mirrow ul li{
  padding: 1rem 0;
}
.img-container{
  width: 100%;
}
.img-container img{
  width: 80%;
}
.privacy-btn{
  margin: auto;
  text-align: center;
  display: grid;
  align-items: center;
}

footer{
  background: #100B20;
  position: relative;
}
.footer-flex{
 display: grid;

 grid-template-columns: repeat(2,1fr);
 padding-top: 3rem;
}

.link{
  display: flex;
  justify-content: space-between;
}
.footer-para{
  font-size: 0.9rem;
}
.footer-flex h1{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.footer-link h5{
  font-family: var(--font-family-heading);
  font-size: 1rem;
  color: var(--clr-Light-purple);
  padding-bottom: 1rem;
}
.footer-link ul{
  color: var(--clr-white);
  font-family: var(--font-family-para);
  list-style: none;
}
.footer-link li{
  padding: 0.2rem 0;
  font-size: 0.9rem;
}
.footer-link li span{
  margin-right: 0.4rem;
}
.footer-last{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1rem 0;
  font-family: var(--font-family-para);
  color: var(--clr-white);
  font-size: 0.9rem;
}
.img-span img{
  width: 4%;
  height: 15px;
}
.last-txt{
  text-align: center;
  font-family: var(--font-family-para);
  color: var(--clr-white);
  font-size: 0.9rem;
  padding: 1rem 0;
}
.footer-star{
  position: absolute;
  left: 2%;
  top: 30%;
}
.footer-star1{
  position: absolute;
  right: 30%;
  top: 30%;
}
.footer-star2{
  position: absolute;
  left: 40%;
  bottom: 20%;
}
.footer-star3{
  position: absolute;
  right: 5%;
  bottom: 25%;
}