@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Unica+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --border-box-button:4px;
  --font-family-para: 'Montserrat', sans-serif;
 --font-family-heading: 'Clash Display', sans-serif;
 --font-family-timer: 'Unica One', 'cursive';
--font-weight-para:400;
  --clr-body-bg:#140d27;
 --clr-white:#FFF;
 --clr-Light-purple:#d434fe;
 --clr-pink:#FF26B9;
  --clr-gradeint: linear-gradient(270deg, #903aff 0%, #fe34b9 100%)
}
body{
  background-color: var(--clr-body-bg);
  height: 100vh;
}
/* utility */
.container{
  width: 90%;
  margin: auto;
}


.body{
  background: url("./assets/Purple-Lens-Flare-contact.png"), url("./assets/Purple-Lens-Flare-2.png") #140d27;
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
 background-position:  top -20vh left -8vw ,top 30vh right -2vw;
}
/* contact page styling */
.contact-container{
  display: flex;
  justify-content: space-between;
  padding: 4rem 3.5rem 2rem 3.5rem;
  position: relative;
}
.contact-star{
  position: absolute;
  right: 4%;
  bottom:4%;
}
.contact-star1{
  position: absolute;
  top: 14%;
  right: 15%;
}
.contact-star2{
  position: absolute;
  top: 15%;
  left: 10%;
}
.contact-star3{
  position: absolute;
  bottom: 20%;
  left: 40%;
}
.contact-txt{
  font-family: var(--font-family-para);
  color: var(--clr-white);
}
.contact-txt h2{
  color: var(--clr-Light-purple);
}
.contact-para{
  padding: 1rem 0;
}
 h4{
  color: var(--clr-Light-purple);
  padding: 1.2rem 0;
}
.images{
  display: flex;
  gap: 0.6rem;
}
.form,.form2{
  border-radius: 12px;
background: rgba(255, 255, 255, 0.03);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 3rem;
width: 50%;
}
 .form-h2{
  color: var(--clr-Light-purple);
  font-family: var(--font-family-heading);
  width: 90%;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
form input{
  border-radius: 4px;
  padding: 1rem 0.8rem;
  margin: 1rem 0;
  width: 100%;
  outline: none;
  color: var(--clr-white);
  font-family: var(--font-family-para);
border: 1px solid #FFF;
background: rgba(255, 255, 255, 0.03);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form1-container::placeholder{
  color:var(--clr-white);
font-family: var(--font-family-para);
font-size: 0.9rem;
font-weight: var(--font-weight-para);
padding: 0 1rem;
}
.textarea{
  width: 100%;
  height: 150px;
  outline: none;
  border-radius: 4px;
  padding: 1rem 0.8rem;
  color: var(--clr-white);
  font-family: var(--font-family-para);
border: 1px solid #FFF;
background: rgba(255, 255, 255, 0.03);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}
.submit-btn{
  background: var(--clr-gradeint);
  border: 0;
  text-decoration: none;
  width: 150px;
  height: 45px;
  margin: 1.5rem auto 0 auto;
  display: grid;
  align-items: center;
  border-radius: var(--border-box-button);
  color:var(--clr-white);
  cursor: pointer;
  font-family: var(--font-family-para);
  font-weight: var(--font-weight-para);
}
.contact-last{
  display: none;
}
/* Register page styling */

.body2{
  background: url("./assets/Purple-Lens-Flare-contact.png"), url("./assets/Purple-Lens-Flare-2.png") #140d27;
  background-repeat: no-repeat;
   background-blend-mode: hard-light;
background-position:  top -20vh left -2vw ,top 40vh right -1vw;
height: 100%;
width: 100%;
position: relative; 
  
}
.reg-star{
  position: absolute;
  right: 4%;
  bottom:-35%;
}
.reg-star1{
  position: absolute;
  top: 28%;
  right: 15%;
}
.reg-star2{
  position: absolute;
  top: 15%;
  left: 10%;
}
.reg-star4{
  position: absolute;
  top: 15%;
  left: 10%;
}
.reg-star3{
  position: absolute;
  bottom: 20%;
  left: 40%;
}
.reg-container{
display: flex;
justify-content: space-between;
padding: 5rem 0 2rem 0;
color: var(--clr-white);
font-family: var(--font-family-para);
}

.form2{
  width: 60%;
}
.form2 h3{
  padding-bottom: 1rem;
}


.first-img{
  width: 90%;
}

.form-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;

}
.form-container input::placeholder{
  color: rgba(255, 255, 255, 0.25);
  font-family: var(--font-family-para);
}
.form-container input:focus{
  background: transparent;
}
label{
  display: block;
}
select{
 
  width: 100%;
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1rem 0.8rem;
  outline: none;
  color: var(--clr-white);
  font-family: var(--font-family-para);
border: 1px solid #FFF;
background: rgba(255, 255, 255, 0.03);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
option{
  color: #000;
  font-family: var(--font-family-para);
}
.last-p{
  color: var(--clr-pink);
  margin: 2rem 0 0 0;
  font-size: 0.8rem;
}
.check-flex{
  display:flex;
align-items: center;
font-size: 0.8rem;
}
.check-flex input{
  background:none;
  width: 5%;
}
.reg-btn{
  width: 100%;
  margin: 0.5rem 0;
}
/* sucess styling */
.success-popup, .contact-success{
  border-radius: 5px;
border: 1px solid #D434FE;
background: rgba(255, 255, 255, 0.01);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
padding: 1rem;
  text-align: center;
    z-index: 999;

}

.dimmed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 14, 40, 0.93);
  z-index: 998; 
  transition: background-color 0.3s ease;  
}

.cont-h2, .cont-p{
  padding: 0.5rem 0;
  width: 60%;
  margin: auto;
  color: var(--clr-white);
  font-family: var(--font-family-para);
}
.cont-btn{
  width: 90%;
  padding: 1rem 0;
  background: var(--clr-gradeint);
  color: var(--clr-white);
  border: 0;
  border-radius: var(--border-box-button);
  cursor: pointer;
  font-family: var(--font-family-para);
}

/* media queries starts here */

@media screen and (max-width:606px){
  .form-h2-mob{
    text-align: left;
    width: 90%;
  } 

}

@media  screen and (max-width:769px) {
  .container{
    width: 100%;
  }
.contact-star, .contact-star1, .contact-star2, .contact-star3, .reg-star,.reg-star1, .reg-star2, .reg-star3, .reg-star4{
  display: none;
}
  
  .body, .body2{ background: url('./assets/Purple-Lens-Flare-PNG-mob.png'), url('./assets/star-pur-mob.png'),   url('./assets/star-ash-mob.png'),url('./assets/mob-white-star.png'), url('./assets/star-pur-mob.png'),  #140d27;
    background-repeat: no-repeat;
    background-position: top 2vh left 0vw, left 25vw top 16vh, right 8vw top 20vh, right 5vw bottom 14vh, left 5vh bottom 14vw ;
     }

  .contact-txt,form h2{
    display: none;
  }
  .contact-container, .reg-container{
    flex-direction: column;
    padding: 1rem;
    margin-top: 3rem;
  }
  .form,.form2{
    width: 100%;
    padding: 1rem;
    background: none;
  }
  
  .first-img{
    width: 100%;
  }
  .mob-heading{
    display: block;
    padding: 1rem 0;
  }
.form-h2-mob{
  text-align: left;
  width: 50%;
}
.mob-heading .contact-para{
color: var(--clr-white);
font-family: var(--font-family-para);
}
  .contact-last{
margin: 1rem auto;
    display:block;
    text-align: center;
  }
  .images{
    align-items: center;
    justify-content: center;
  }
  .form-container{
    grid-template-columns: repeat(1,1fr);
    gap: 0.7rem;
  }
  .success-popup, .contact-success{
    width: 90%;
  }
  .cont-img{
    width: 100%;
  }
  .cont-p , .cont-h2{
    width: 100%;
  }
 
}

